ion-content {
  --background: url(../../assets/background_full.jpg);
  position: relative;
  height:90%;
  width: 100%;

  ion-button {
    width: 75%;
    margin: auto;
    padding-top: 10px;
  }
}
ion-title{
  --color: #fff;
  ion-icon {
    --color: #fff;
  }
}
ion-toolbar {
  --background: transparent;
}

ion-chip {
  --background: #9dc912;
  --color: #fff;
}

.card {
  margin: 0 auto;

  .header {
      height: 200px; // 20vh;

      .avatar {
          width: 160px; //40vw
          height: 160px;
          position: relative;
          margin: 0 auto;

          img {
              display: block;
              border-radius: 50%;
              position: absolute;
              bottom: calc(-1*(80px + 4px)); // -42px;
              border: 8px solid #9Dc912;
              background-color: #fff;
          }
      }
  }
}

.card-body {
  background-color: #ffffff;
  padding: 30px;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;

  .user-meta {
      padding-top: 40px;

      .playername {
          font-size: 24px;
          font-weight: 600;
          color: #303940;
      }

      .country {
          font-size: 90%;
          color: #949ea6;

          margin: 0 auto;
      }
  }
}
.imgSlide{
  width:100%;
  height: 75.66px;
  object-fit: cover;
}
ion-card{
  --background:  #f5f5f3;
}

.my-card {

  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.19);
  margin: auto;

  }

  ion-input{
    --color:#000;
    --padding-bottom:15px;
    --padding-top:15px;
    --padding-start: 5px;
    font-size:15px;
    text-indent:1px;
    padding-left: 10px !important;
  }
  ion-item{
    --highlight-color-focused: transparent;
    --highlight-height:0;
    --highlight-color-invalid:#000;
    --highlight-color-valid:#ddd;
    --min-height: 65px;
    --padding-start:0;
  }
  ion-text{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  ion-input {
    font-size: 18px;
    --padding-top: 20px;
    --padding-bottom: 15px;
    --padding-start: 5px;
  }

  ion-icon{
    width:20px;
    color: grey;
  }
  .filebtn {
    opacity: 0;
    position: absolute;
    top: -100em;
    left: -100em;
  }
  