<ion-header translucent no-border>
  <ion-toolbar >
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <div class="card">
    <div class="header">
      <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />
      <div class="avatar">
        <img src="../../assets/player104.png"  (click)="updateProfilePic()"  alt="">
      </div>


    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h5 class="country"> <ion-icon  name="mail-outline"></ion-icon>
          {{this.userProfile.email}} </h5>
          <form [formGroup]="validationFormUser" (ngSubmit)="productForm(validationFormUser.value)">
        <ion-card class="my-card">

            <ion-item transparent>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-input type="text" name="name" formControlName="firstname" placeholder="First Name"></ion-input>

            </ion-item>

            <ion-item transparent>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-input type="text" name="name" formControlName="lastname" placeholder="Last Name"></ion-input>

            </ion-item>

            <ion-item transparent>
              <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-input type="number" name="phone"   formControlName="phone" placeholder="Phone No"></ion-input>

          </ion-item>



        </ion-card>

        <ion-button type="submit" shape="round" fill="solid" class="sign-btn" [disabled]="!validationFormUser.valid">
          Update 
          <ion-icon name="save-outline" slot="end"></ion-icon>
        </ion-button>
      </form>
      </div>


    </div>


  </div>

</ion-content>
