ion-toolbar {
  --background: #f5f5f3;
  ion-button {
    text-transform: initial;
    font-size: 17px;
  }
}


.paragraph{
  text-align: center;
  padding-top: 15px;
}
// .bg {
//   --ion-background-color:  #b31f6f !important;

// }
ion-content {
    --background: #f5f5f3;
    
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 700;
      font-size: 26px;
      color: #010100;
      margin-bottom: 5%;
    }

    img {
      width: 125px;
      height: 100px;
      border-radius: 50%;
      border: 8px solid #a9e7f0;
    }
  }
  #form {
    margin-top: 15%;
    padding-left: 30px;
    padding-right: 30px;

    ion-button {
      margin-top: 35px;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
      border-radius: 50px;
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
      --box-shadow: none;
    }
  }

}

[transparent]{
  --background: transparent;
}
ion-input{
  --color:#000;
  --padding-bottom:15px;
  --padding-top:15px;
  --padding-start: 5px;
  font-size:15px;
  text-indent:1px;
  padding-left: 10px !important;
}
ion-icon{
  width:30px;
}
ion-item{
  --highlight-color-focused: transparent;
  --highlight-height:0;
  --highlight-color-invalid:#000;
  --highlight-color-valid:#ddd;
  --min-height: 65px;
  --padding-start:0;
}
[linespace]{
  height:0.5px;
}
ion-label{
  color:#000;
  opacity:.8;
  font-size:13px;
  display: block;
}
.forgot-password{
  color: #18598d;
  font-size: 13px;
  display: block;
  text-align: center;
  padding: 5px;
}
.submit{
  color: #a9e7f0;
}


// .sign-btn-wrap{
//   text-align: center;
//   padding-top: 20px;
// .sign-btn{

//    background-color: #b31f6f !important;


// }


// }
// ion-item {
//   color:#747B7E;
//   --border-color: #747B7E;
//   --highlight-color-focused:#124BA0;

//   --padding-start:0;
//   --inner-paddig-end:0;
//      font-size:12px;

//     //  ion-icon {
//     //      padding-right: 6px;
//     //      font-size: 18px;
//     //      color:#b31f6f !important;
//     //  }
//   ion-input {
//       color:  #000;
//   }
//   ion-input:hover{
//       color:#124BA0;
//   }
// }
// ion-item:active {
// color:red !important;
// ion-icon {
//    color:red !important;
// }
// }
// .password_forgot{
// text-align: right;
// ion-button {
//   font-size:10px;
// }
// }

// ion-card {
//   margin-top: 40px;
//   --ion-background-color: #fff;
// }
// .avatar{
//   margin: auto;
// }
// .imgClass{
//  margin-top: 1px;
// }

// .ion-card-footer{
//   width: 100%;
//   height: 40px;
//   align-items: center;
//   justify-content: center;
//   display: flex;
// span {
//     color: #8588BD;
//     font-size:12px;
//     font-weight: 200;
// }
// button {
//     font-size:12px;
//     --ion-background-color: transparent;
//     font-weight: 400;
//     padding-left: 3px;
//     color:#535558;
// }
// button:hover {
//     color:#969393;
// }
// }
