<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  routerLink="/tabs/tab1/{{products?.category}}">
        <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="image-slider">
    <!-- <i class="fi-rr-arrow-left" routerLink="/tabs/tab1/{{products?.category}}"></i> -->
    <!-- <ion-icon slot="icon-only" name="arrow-back" routerLink="/tabs/tab1/{{products?.category}}"></ion-icon> -->
    <ion-slides pager="true" class="product-slider">
      <ion-slide class="slidess" *ngFor="let p of products?.multiImages">
        <img src="{{p}}" alt="">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="profile-info ion-padding">
    <!-- <div class="user-info"> -->
      <div class="basic-info">
        <ion-row>
          <ion-col>
            <h1>{{products?.name}}</h1>
          </ion-col>
          <ion-col>
            <h1>{{products?.price | currency:"R":"symbol"}}</h1>
          </ion-col>
        </ion-row>
        <!-- <h1>{{products?.name}}</h1>
        <h1>{{products?.price | currency:"R":"symbol"}}</h1> -->
        <p>
          <ion-icon name="location-outline" color="primary"></ion-icon><b> {{products?.location}}</b>
        </p>
      </div>
    <!-- </div> -->
      <div class="description">
        <h5>Description</h5>
        <ion-item>
          {{products?.description}}
        </ion-item>
      </div>
      <div class="my-profile">
        <img src="../../assets/user.png">
      <ion-label>
        <h2>{{products?.sellerFirstName}} {{products?.sellerLastName}}</h2>
        <p (click)="sendEmail"><ion-icon name="mail-outline" color="primary"></ion-icon> {{products?.sellerEmail}}</p>
        <p><a (click)="presentModal()" >View Profile</a></p>
      </ion-label>
      </div>
      <ion-footer class="action-buttons">
        <h5>Contact Seller</h5>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="sendEmail()" shape="block" fill="solid" color="warning">
                <ion-icon name="mail-outline"></ion-icon>Email</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button shape="block" fill="solid" href="{{url}}" color="success">
                <ion-icon name="logo-whatsapp"></ion-icon>WhatsApp</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="primary" class="ion-text-wrap min-max-width"    shape="block" fill="solid" (click)="sendSMS()"><ion-icon name="chatbox-outline"></ion-icon> SMS</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="secondary" class="ion-text-wrap min-max-width"   shape="block" fill="solid" (click)="launchDialer(products?.phone)"><ion-icon name="call-outline"></ion-icon> CALL</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
  </div>
  <!-- <ion-card >
    <ion-slides pager="true" class="product-slider">
      <ion-slide class="slidess" *ngFor="let p of products?.multiImages">
        <img src="{{p}}">
      </ion-slide>
    </ion-slides>
    <ion-card-header>
      <ion-row>
        <ion-col size="12">
      <ion-card-title>{{products?.name}}</ion-card-title>

      </ion-col>
      </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle color="primary">{{products?.price | currency:"R":"symbol"}}</ion-card-subtitle>
          </ion-col>
          <ion-col size="6">
            <ion-card-subtitle>
              <ion-icon name="location-outline" color="primary"></ion-icon><b> {{products?.location}}</b>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>

    </ion-card-header>

    <ion-card class="descDetail">
      <div class="innerDetail">
        <p class="ion-text-left"><b>Description</b></p>
        <ul>
          <li>
            <ion-label>{{products?.description}}</ion-label>
          </li>
        </ul>
      </div>
    </ion-card>
  </ion-card> -->



  <!-- <ion-item lines="none"> -->
    <!-- <ion-card> -->
      <!-- <ion-grid>
        <ion-row>
          <ion-col>
           <p class="text-align-center"><b>Chat with seller</b></p> -->
           <!-- <P>{{products?.phone}}</P> -->
          <!-- </ion-col>
          <ion-col>
            <p></p>
           <ion-button shape="block" fill="solid" href="{{url}}" color="success">
             <ion-icon name="logo-whatsapp"></ion-icon>WhatsApp</ion-button>
         </ion-col>
        </ion-row>
      </ion-grid> -->
   <!-- </ion-card> -->
   <!-- </ion-item>

  <ion-card class="user-details">
    <p class="ion-text-left"><b>Seller description</b></p>
    <div class="user">
      <img src="../../assets/user.png">
      <ion-label>
        <h2>{{products?.sellerFirstName}} {{products?.sellerLastName}}</h2>
        <p (click)="sendEmail"><ion-icon name="mail-outline" color="primary"></ion-icon> {{products?.sellerEmail}}</p>

        <p><a (click)="presentModal()" >View Profile</a></p>
      </ion-label>
    </div>
  </ion-card>

<ion-item lines="none">

    <ion-grid>
    <ion-row>
      <ion-col >
        <ion-button color="secondary" class="ion-text-wrap min-max-width"  expand="full"  shape="block" fill="solid" (click)="sendSMS()"><ion-icon name="chatbox-outline"></ion-icon> SMS</ion-button>
      </ion-col>
      <ion-col >
        <ion-button color="secondary" class="ion-text-wrap min-max-width"  expand="full" shape="block" fill="solid" (click)="launchDialer(products?.phone)"><ion-icon name="call-outline"></ion-icon> CALL</ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>

</ion-item> -->

</ion-content>
