<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/tabs/tab1/{{products?.category}}" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{products?.imageName}}" >
  </ion-card>
  <h1 >{{products?.name}}</h1>

  <h2>{{products?.location}}</h2>
  <ion-item  lines="none">
    <div class="price">
    <h1>{{products?.price}}</h1>
    </div>
     <div class="btnCart">
      <ion-button>Add To Cart</ion-button>
     </div>
  </ion-item>

 <ion-card *ngFor="let p of products?.multiImages">
  <img src="{{p }}">
 </ion-card>


</ion-content>
