#myFileInput{
  position: absolute;
  opacity: 0;
}
.cart{
  ion-icon{
    height: 25px;
  width: 40px;
  }
}
ion-content{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  #form {
    margin-top: 2%;
    padding-left: 15px;
    padding-right: 15px;


  }
  [transparent]{
    --background: transparent;
  }
  .error_message{
    color: red;
    text-align: center;
    font-size: 14px;
  }
  ion-label{
    color: grey !important;
    --padding-bottom:15px;
    --padding-top:15px;
    --padding-start: 5px;
    font-size:15px;
    text-indent:1px;
    padding-left: 10px !important;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  ion-input{
    --color:#000;
    --padding-bottom:15px;
    --padding-top:15px;
    --padding-start: 5px;
    font-size:15px;
    text-indent:1px;
    padding-left: 10px !important;
  }
  ion-icon{
    width:30px;

  }
  // ion-item{
  //   --highlight-color-focused: transparent;
  //   --highlight-height:0;
  //   --highlight-color-invalid:#000;
  //   --highlight-color-valid:#ddd;
  //   --min-height: 45px;
  //   --padding-start:0;
  //   border-radius: 10px;
  //   border: 1px solid;
  // }
  ion-text{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  [linespace]{
    height:0.5px;
  }
  .info{
    color:#000;
    opacity:.8;
    font-size:13px;
    display: block;
    text-align: center;
  }
  ion-textarea{
    --color:#000;
    --padding-bottom:15px;
    --padding-top:15px;
    // --padding-start: 5px;
    font-size:18px;
    text-indent:1px;
    // padding-left: 10px !important;
    border: 1px solid grey;
    border-radius: 10px;
    width: 90%;
    // align-self: center;
  }
  ion-textarea{
   // height: 55px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
   // --highlight-height: 0px;

  }
ion-item {
  border-radius: 10px;
  border: 1px solid grey;
  top: 2px;
  // width: 90%;
  //  height: 55px;
  //  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
  //  --highlight-height: 0px;

   ion-input {
     font-size: 18px;
     --padding-top: 10px;
     --padding-bottom: 15px;
     --padding-start: 5px;
   }


   a {
     font-size: 17px;
     letter-spacing: 0.5px;
     text-decoration: none;
   }
 }
/* Image CSS */

.image-container {
  min-height: 200px;
  background-size: cover;
}

@media (min-width: 0px) {
  .images {
    column-count: 2;
  }
}

@media (min-width: 420px) {
  .images {
    column-count: 3;
  }
}

@media (min-width: 720px) {
  .images {
    column-count: 4;
  }
}

.one-image {
  margin: 2px;
}
ion-button{
  width: 75%;
  margin: auto;
  bottom: 5px;
}
