<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar >
    <ion-title class="ion-text-center">
      Selling Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  


  <form id="form" method="post" enctype="multipart/form-data" [formGroup]="validationFormUser"
    (ngSubmit)="productForm(validationFormUser.value)">


    <div class="wrapform">
      <ion-grid>
        <ion-row>
          <ion-col class="text-center">

            <ion-button class="btn-img" (click)="getImages()">Choose Images
              <ion-icon name="image-outline"></ion-icon>

            </ion-button>
          </ion-col>


        </ion-row>
        <ion-row>
          <ion-col>
            <div class="images">
              <div class="one-image" *ngFor="let img of imageResponse">
                <img src="{{img}}" alt="" srcset="">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-item transparent class="ion-margin">
        <ion-input type="text" name="name" formControlName="name" placeholder="Product Name"></ion-input>

      </ion-item>
      <div>
        <ng-container *ngFor="let validation of  valdationUserMessage.Name">
          <div class="error_message"
            *ngIf="validationFormUser.get('name').hasError(validation.type) && (validationFormUser.get('name').dirty || validationFormUser.get('name').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item transparent class="ion-margin">
        <ion-input type="number" name="price" formControlName="price" inputmode="decimal" placeholder="R0.00">
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of  valdationUserMessage.Price">
          <div class="error_message"
            *ngIf="validationFormUser.get('price').hasError(validation.type) && (validationFormUser.get('price').dirty || validationFormUser.get('price').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item transparent class="ion-margin">
        <ion-input type="number" name="phone" placeholder="Phone number" formControlName="phone"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of  valdationUserMessage.Price">
          <div class="error_message"
            *ngIf="validationFormUser.get('phone').hasError(validation.type) && (validationFormUser.get('phone').dirty || validationFormUser.get('phone').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item transparent class="ion-margin">
        <ion-input type="text" name="Address Here" formControlName="location" placeholder="Location"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of  valdationUserMessage.Location">
          <div class="error_message"
            *ngIf="validationFormUser.get('location').hasError(validation.type) && (validationFormUser.get('location').dirty || validationFormUser.get('location').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item transparent class="ion-margin">
        <ion-label> Select Category </ion-label>
        <ion-select name="category" formControlName="category">
          <ion-select-option *ngFor="let c of categories" [value]="c.$key">{{c.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of  valdationUserMessage.Category">
          <div class="error_message"
            *ngIf="validationFormUser.get('category').hasError(validation.type) && (validationFormUser.get('category').dirty || validationFormUser.get('category').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-textarea class="ion-margin" type="text" name="description" formControlName="description"
        placeholder="Describe What You Are Selling.">
      </ion-textarea>
      <div>
        <ng-container *ngFor="let validation of  valdationUserMessage.Description">
          <div class="error_message"
            *ngIf="validationFormUser.get('description').hasError(validation.type) && (validationFormUser.get('description').dirty || validationFormUser.get('description').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

    </div>
    <p class="info"></p>
    <div class="ion-text-center">
      <ion-button type="submit" shape="round" class="sign-btn"
        [disabled]="!validationFormUser.valid">
        Save 
        <ion-icon name="save-outline" slot="end"></ion-icon>
      </ion-button>
    </div>

  </form>


</ion-content>