<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Product Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form method="post" enctype="multipart/form-data" [formGroup]="validationFormUser" (ngSubmit)="productForm(validationFormUser.value)">


      <div class="wrapform">
        <ion-item>
          <div>
            <div><b>Upload photo</b></div><br/>
            <input type="file" name="imageName" formControlName="imageName" (change)="uploadPhoto($event)" accept=".png,.jpg" multiple="true"/>
          </div>
        </ion-item>
      <ion-item lines="full">


        <ion-input type="text" name="name" formControlName="name" placeholder="Product Name"></ion-input>
        <div>
          <ng-container *ngFor="let validation of  valdationUserMessage.Name">
           <div class="error_message" *ngIf="validationFormUser.get('name').hasError(validation.type) && (validationFormUser.get('name').dirty || validationFormUser.get('name').touched)">
            {{validation.message}}
           </div>
          </ng-container>
        </div>
      </ion-item>
      <ion-item lines="full">


        <ion-input type="number" name="price" formControlName="price" placeholder="Price"></ion-input>
        <div>
          <ng-container *ngFor="let validation of  valdationUserMessage.Price">
           <div class="error_message" *ngIf="validationFormUser.get('price').hasError(validation.type) && (validationFormUser.get('price').dirty || validationFormUser.get('price').touched)">
            {{validation.message}}
           </div>
          </ng-container>
        </div>
      </ion-item>

      <ion-item lines="full">


        <ion-input type="text" name="location" formControlName="location" placeholder="Location"></ion-input>
        <div>
          <ng-container *ngFor="let validation of  valdationUserMessage.Location">
           <div class="error_message" *ngIf="validationFormUser.get('location').hasError(validation.type) && (validationFormUser.get('location').dirty || validationFormUser.get('location').touched)">
            {{validation.message}}
           </div>
          </ng-container>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select name="category" formControlName="category"  placeholder="Select Category">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let c of categories" [value]="c.$key">{{c.name}}</ion-select-option>
        </ion-select>
        <div>
          <ng-container *ngFor="let validation of  valdationUserMessage.Category">
           <div class="error_message" *ngIf="validationFormUser.get('category').hasError(validation.type) && (validationFormUser.get('category').dirty || validationFormUser.get('category').touched)">
            {{validation.message}}
           </div>
          </ng-container>
        </div>
      </ion-item>
    <ion-item>
      <ion-textarea type="text" name="description" formControlName="description"  placeholder="Description">

      </ion-textarea>
      <div>
        <ng-container *ngFor="let validation of  valdationUserMessage.Description">
         <div class="error_message" *ngIf="validationFormUser.get('description').hasError(validation.type) && (validationFormUser.get('description').dirty || validationFormUser.get('description').touched)">
          {{validation.message}}
         </div>
        </ng-container>
      </div>
    </ion-item>
      <div *ngIf="barStatus">

      </div>

      </div>

      <div class="sign-btn-wrap">
       <ion-button type="submit" shape="block" fill="solid" class="sign-btn" [disabled]="!validationFormUser.valid">Save </ion-button>
      </div>

  </form>
    </ion-card-content>
  </ion-card>
</ion-content>
