.image-center{
 //margin-top: 10px !important;
  margin:0 auto;
  background-color: #b31f6f;

}
ion-icon {
  margin-top: 15px;
  text-align: center !important;;
  font-size: 30px;
  color: #fff;
}
h2 {
  margin-top: 30px;
  text-align: center;
  font-weight: bolder;
  font-size: 14px;
  margin-bottom: 15px;


}
.txtName{
  padding-top: 15px !important;
  font-size: 12px;
}
ion-title{
  text-align: center;
  font-weight: bolder;
}
