ion-thumbnail{
  background-color: #3dc2ff!important;
  color: #fff;
  margin:0 auto  !important;
  ion-icon{
    font-size: 30px;
  }
}
ion-icon{
  font-size: 35px;
}
.right
{
  color: #4BB543;
}
.wrong{
  color: #CA0B00;
}
ion-card{
    // padding: 10px !important;
    transition: all 250ms ease-in-out !important;
    border-radius: 10px !important;
    margin-bottom: 2px !important;
    border: 1px solid var(--ion-color-medium);
    width: 95%;
    background: var(--ion-color-primary);
    // text-align: center;
    ion-label{
      color: #fff;
    }
}
.date{
  top: 5px;
  color: #fff;
}