<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
       Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-list *ngFor="let m of messageDetail">


  <ion-item >
   <ion-thumbnail class="ion-text-center">

    <ion-label>{{m.date  | date :'d/M/yy'}}</ion-label>
      <ion-icon name="mail"></ion-icon>
   </ion-thumbnail>

    <ion-label>{{m.message}}</ion-label>

    <ion-button expand="block" fill="clear" shape="round">
      <ion-icon class="right" *ngIf="m.status === 'Approved'" name="checkmark-circle"></ion-icon>
      <ion-icon class="wrong" *ngIf="m.status === 'Declined'" name="close-circle"></ion-icon>
    </ion-button>

  </ion-item>


    <!-- <ion-input type="number" [(ngModel)] ="badgeNumber"></ion-input>
    <button (click)= "requestPermission()" >Permission</button>
    <ion-button (click)="setBadge(badgeNumber)">set</ion-button>
    <ion-button (click)="increaseBadge(badgeNumber)">increse</ion-button>
    <ion-button (click)="getBadge()"></ion-button> -->
  </ion-list>
</ion-content>
