<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
       Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngFor="let m of messageDetail">

  <ion-item *ngIf="m.status === 'Approved' ">
   <ion-thumbnail>

    <ion-label>{{m.date  | date :'d/M/yy'}}</ion-label>
      <ion-icon name="mail-outline"></ion-icon>
   </ion-thumbnail>

    <ion-label>{{m.message}}</ion-label>

    <ion-button expand="block" fill="clear" shape="round">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item *ngIf="m.status === 'Declined' ">
    <ion-thumbnail>

     <ion-label>{{m.date  | date :'d/M/yy'}}</ion-label>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-thumbnail>

     <ion-label>{{m.message}}</ion-label>

     <ion-button expand="block" fill="clear" shape="round">
      <ion-icon name="close-outline"></ion-icon>
     </ion-button>
   </ion-item>
</ion-content>
