<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="header" >
    <!-- <h2>{{userDetail.firstname}} {{userDetail.lastname}}</h2> -->
    <h2>{{userDetail?.firstname }} {{userDetail?.lastname}}</h2>

    <div class="space-between">
 <p>{{userDetail?.email}}</p>

  <p>{{userProfile?.phone}}</p>
    </div>
  </div>

  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="../../assets/user.png">
        </div>
      </div>
    </div>
  </div>

  <ion-card>
    <ion-item lines="none" >
      <!-- <ion-avatar slot="start">
        <img src="../../assets/user.png">
      </ion-avatar> -->
      <ion-label>
        <h4><b>Member Since {{createDate | date :'d MMM yyy'  }}</b></h4>
        <!-- <p>Selling for 1+ months</p> -->
      </ion-label>
    </ion-item>

    <div class="spaces">
      <div class="ads">
        <ion-badge color="primary">{{countItems}}</ion-badge>
        <h4>Active Items</h4>
      </div>

      <div class="ads">
        <ion-badge color="primary">{{TotalSold}}</ion-badge>
        <h4>Sold Items</h4>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <h3><b>Published Items</b></h3>
    </ion-item>

    <ion-grid>
      <ion-row *ngFor="let p of products">
        <ion-col size="6">
          <img src={{p.multiImages[0]}}>
       <ion-label>
         <p><b>{{p.name}}</b></p>
         <p>{{p.price| currency: 'R':'symbol':'1.2'}}</p>
         <p>Centurion</p>
       </ion-label>

       <ion-button (click)="onSoldItems(p)"> Item Sold</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
