<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="end">

      <ion-button  color="light"  (click)="presentModal()" >
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true" slot="fixed" >

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/player104.png"  alt="">
      </div>
    </div>

    <img src="{{userProfile?.profilePic}}"  alt="">
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="playername">{{userProfile?.firstname}} {{userProfile?.lastname}}</h3>
        <h5 class="country"> <ion-icon  name="mail-outline"></ion-icon>
          {{userProfile?.email}} </h5>
          <ion-label>
            <h4><b>Member Since {{createDate | date :'d MMM yyy'  }}</b></h4>
            <!-- <p>Selling for 1+ months</p> -->
          </ion-label>
        <h6 class="ranking">Items Sold: <ion-chip>
            <ion-label>{{TotalSold}}</ion-label>
          </ion-chip>
        </h6>
        <h6 class="ranking">Published Items: </h6>
      </div>
<ion-card>
      <ion-slides [options]="slideOpt" >
        <ion-slide *ngFor="let p of products">
          <ion-card  class="slideCard">
          <img class="imgSlide" src="{{p.multiImages[0]}}" />
          <ion-label>
          <h4 ><b>{{p.price| currency: 'R':'symbol':'1.2'}}</b></h4>
          </ion-label>

          <h6 >{{p.name}}</h6>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-card>
    </div>

  </div>

</ion-content>
