
<ion-content [fullscreen]="true">

  <div class="circleBase type2 circle1"></div>
 <div class="circleBase type1"></div>
 <div class="circleBase type2 circle2"></div>

 <div  class="back">
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon   slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
</div>

<ion-label class="welcomeMessage">
  <ion-text color="light">
    <p>Forgot Password?</p>
  </ion-text>
</ion-label>

<form id="form" [formGroup]="validationFormUser" (ngSubmit)="forgotPassword(validationFormUser.value)">
<ion-list lines="none" class="ion-margin ion-padding ion-text-center">
  <p class="message">
    <ion-text>
      Enter your e-mail address and we'll send you a link to reset your password.
    </ion-text>
  </p>

  <ion-item class="ion-margin-vertical">
    <ion-icon name="mail-outline" slot="end"></ion-icon>
    <ion-input type="text" name="email" formControlName="email" placeholder="Email"></ion-input>
  </ion-item>
  <div>
    <ng-container *ngFor="let validation of  valdationUserMessage.Email">
      <div class="error_message"
        *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
        {{validation.message}}
      </div>
    </ng-container>
  </div>

  <ion-button expand="block" type="submit" shape="round" [disabled]="!validationFormUser.valid">
    Submit 
    <ion-icon name="enter-outline" slot="end"></ion-icon>
  </ion-button>
</ion-list>
</form>
  <!-- <div id="header">
    <h2>Forgot Password</h2>
    <img src="../../assets/logo.png"/>
  </div>
  <form id="form" [formGroup]="validationFormUser" (ngSubmit)="forgotPassword(validationFormUser.value)">
  <div class="form">
    <ion-label>Enter your e-mail address and we'll send you a link to reset your password</ion-label>

    <ion-item transparent>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type="text" name="email" formControlName="email" placeholder="Email"></ion-input>

    </ion-item>
    <div>
      <ng-container *ngFor="let validation of  valdationUserMessage.Email">
        <div class="error_message"
          *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <p class="forgot-password" ></p>
    <ion-button color="secondary" type="submit" shape="block" fill="solid" class="sign-btn" [disabled]="!validationFormUser.valid">
      Submit </ion-button>

  </div>
  </form> -->

</ion-content>
