
<ion-content Class="content">
  <div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/login">
          <ion-icon  color="primary" slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div id="header">
    <h2>Forgot Password</h2>
    <img src="../../assets/free_logos_dribbble_ph.jpg" />
  </div>
  <form id="form" [formGroup]="validationFormUser" (ngSubmit)="forgotPassword(validationFormUser.value)">
  <div class="form">
    <ion-label>Enter your e-mail address and we'll send you a link to reset your password</ion-label>

    <ion-item transparent>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type="text" name="email" formControlName="email" placeholder="Email"></ion-input>
      <div>
        <ng-container *ngFor="let validation of  valdationUserMessage.Email">
          <div class="error_message"
            *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
    </ion-item>

    <ion-button color="secondary" type="submit" shape="block" fill="solid" class="sign-btn" [disabled]="!validationFormUser.valid">
      Submit </ion-button>

  </div>
  </form>

</ion-content>
