.header{
    --ion-background-color:  #b31f6f !important;
    height: 200px;
}
.header{
    position: relative;
    background: #b31f6f;
    border-radius: 0em;
}
.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #b31f6f;
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}
.logo-img{
display:block;
width:150px;
margin: 0 auto;
text-align: center;
margin-top: 40px;
}
.avatar{
margin:auto;
}

ion-card{
    --ion-background-color:  #b31f6f !important;
    margin-top: 15%;
}
[heading-column-1r]{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
[big-heading]{
        font-family: "Heebo-Bold" !important;
        font-size: 25px !important;
        color:white;
}

p{
    color:#ffffff;
    text-align: center;
}
ion-item{
    --highlight-color-focused: transparent;
    --highlight-height:0;
    --highlight-color-invalid:#000;
    --highlight-color-valid:#ddd;
    --min-height:65px;
    --padding-start: 0;
    color:white;
}
