
.content{
  --background: #f5f5f3;
    ion-toolbar{
      --background: #f5f5f3;
    }
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        h2 {
          font-weight: 700;
          font-size: 22px;
          color: #010100;
          margin-bottom: 5%;
        }

        img {
          width: 95px;
          height: 70px;
          border-radius: 50%;
          border: 5px solid #a9e7f0;
        }
}
.form{
    margin-top: 10%;
    padding-left: 30px;
    padding-right: 30px;
}
ion-label{
    color:#000;
    opacity:.8;
    font-size:18px;
    display: block;
    text-align: center;

  }
  [transparent]{
    --background: transparent;
  }
  ion-input{
    --color:#000;
    --padding-bottom:15px;
    --padding-top:15px;
    --padding-start: 5px;
    font-size:15px;
    text-indent:1px;
    padding-left: 10px !important;
  }
  ion-icon{
    width:30px;
    color: grey;
  }
  ion-item{
    --highlight-color-focused: transparent;
    --highlight-height:0;
    --highlight-color-invalid:#000;
    --highlight-color-valid:#ddd;
    --min-height: 65px;
    --padding-start:0;
    margin-top: 5%;

  }
  // ion-button{
  //   color:rgb(227, 234, 236);
  //   margin-top: 15px;
  //   height: 30px;
  //   font-size: 18px;
  //   text-transform: initial;
  //    border-radius: 50px;
  //   box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
  //   --box-shadow: none;
  //    padding-left: 10px;
  //   padding-right: 10px;
  // }
