
.content{
    --ion-background-color:#e3eff0;
    
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        h2 {
          font-weight: 700;
          font-size: 26px;
          color: #010100;
          margin-bottom: 5%;
        }
    
        img {
          width: 125px;
          height: 100px;
          border-radius: 50%;
          border: 8px solid #ffffff;
        }
}
.form{
    margin-top: 10%;
    padding-left: 30px;
    padding-right: 30px;
}
ion-label{
    color:#000;
    opacity:.8;
    font-size:18px;
    display: block;
    text-align: center;
    
  }
  [transparent]{
    --background: transparent;
  }
  ion-input{
    --color:#000;
    --padding-bottom:15px;
    --padding-top:15px;
    --padding-start: 5px;
    font-size:15px;
    text-indent:1px;
    padding-left: 10px !important;
  }
  ion-icon{
    width:30px;
  }
  ion-item{
    --highlight-color-focused: transparent;
    --highlight-height:0;
    --highlight-color-invalid:#000;
    --highlight-color-valid:#ddd;
    --min-height: 65px;
    --padding-start:0;
    margin-top: 5%;
    
  }
