
<ion-content Class="content">
  <div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/login">
          <ion-icon  color="primary" slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div id="header">
    <h2>Forgot Password</h2>
    <img src="../../assets/free_logos_dribbble_ph.jpg" />
  </div>
 
  <div class="form">
    <ion-label>Enter your e-mail address and we'll send you a link to reset your password</ion-label>

    <ion-item transparent>
      <ion-input [(ngModel)]="email" name="Email" placeholder="Enter your email"></ion-input>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-button color="secondary" expand="full" fill="solid" shape="round"  (click)="forgot()">Send Request</ion-button>
  </div>

 
</ion-content>
