ion-card
{
margin:0.4cm;
background-color:white;
width: 4cm;
height: 4.5cm;
padding: 5%;
font-variant: small-caps;

}

ion-content
{
  background-color: purple;
}
img{
  height: 2cm;
  width: 2cm;
  margin-top: 0.1cm;
}



.container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
  }
  
  .search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }