<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="query" (ionChange)="searchproduct(query)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>





<ion-card *ngFor="let p of products">
  <ion-item [routerLink]="['/','tabs','tab1',p.category,p.key]"  detail>
  <ion-grid>
   <ion-row>
    <ion-col>
  <img src={{p?.multiImages[0]}}>
  </ion-col>

   </ion-row>
   </ion-grid>
   </ion-item>
</ion-card>
</ion-content>
