<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

     <ion-searchbar #search  (ionChange)="searchproducts($event)" placeholder="Search a Product.."></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row class="sell-Items">
    <ion-col size="6" *ngFor="let p of products" class="ion-text-left">
        <!-- <ion-card mode="ios" *ngFor="let p of products"> -->
              <img src={{p.imageName[0]}}>
              <ion-label>{{p.name}}</ion-label>
              <p color="dark">{{p.price| currency: 'R':'symbol':'1.2'}}</p>
              <p><ion-icon name="location-outline"></ion-icon><b>{{p.location}}</b></p>

              <ion-label class="view" [routerLink]="['/','tabs','tab1',p.category,p.key]">View</ion-label>
    </ion-col>
  </ion-row>
</ion-content>
