<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="header">
    <h2>Create your<br />Account</h2>
    <img src="../../assets/free_logos_dribbble_ph.jpg" />
  </div>


  <form class="form" [formGroup]="validationFormUser" (ngSubmit)="registerUser(validationFormUser.value)">
    <ion-item transparent>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input name="firstname" formControlName="firstname" placeholder="First Name"> </ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input name="lastname" formControlName="lastname" placeholder="Last Name">
      </ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-input name="phone" type="number" formControlName="phone" placeholder="Phone">
      </ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input name="email" formControlName="email" placeholder="Email">
      </ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input name="password" formControlName="password" placeholder="Password">
      </ion-input>
    </ion-item>

    <ion-button  color="secondary" type="submit" shape="block" fill="solid" class="sign-btn" [disabled]="!validationFormUser.valid">Sign
      Up</ion-button>

      <p class="info">By pressing 'Sign Up' you agree to <br />our terms & conditions.</p>

  </form>


</ion-content>